body { background-image: url("recipe.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;

}
p{
    color:blueviolet; 
}
h1{color: green;
    margin-left: 20px

}
h2{color: purple;
    margin-left: 10px

}

form{
   border: 2px border-style mediumaquamarine;
   background-color: cadetblue;
   color: blue;
   border-style: groove;
}